.info {
    background-image: linear-gradient(lightyellow, rgb(176, 223, 255));
    height:98%;
    .info-list {
        font-family: "Archivo", sans-serif;
        font-size:140%;
        li{
            padding:5%;
        }
    }
}
