.locationsListWrapper {
  overflow: hidden;
  overflow-y: auto;
  
}


.location-wrapper{
  display:flex;
  width:100%;
  justify-content:space-between;
  background-image: linear-gradient(to bottom, rgb(238, 236, 236), rgb(249, 252, 252, .5));
  margin-bottom:2%;
}
.location {
  width:70%;
  display: flex;
  flex-direction:column;
  /* justify-content: space-between; */
  /* align-items: center; */
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
  margin-block-start:0;
  
    /* border-bottom:.3px solid rgb(249, 252, 252); */
  margin-bottom:1%;
  padding:1%;
  /* box-shadow: .25px .25px  black; */
}

.clickedLocation{
  background-image: linear-gradient(rgb(171, 230, 250), rgb(225, 231, 248)
  );
  /* box-shadow: .25px .25px black; */

}

.location-name{
  font-size: 1em;
  margin:0;
  margin-bottom:8%;
}

.stubborn {
  font-size: .7em;
  font-family:'Comfortaa';
}

img {
  height: 4em;
  padding:1%;
}

.icons-wrapper{
  font-size:16px;
  display:flex;
  letter-spacing: .5em;
  
  
}
.icons{
  /* margin-top:5%; */
  
}

.left-panel{
  display:flex;
  flex-direction:row;
  /* justify-content:space-between; */
  margin-left:1%;
  /* width:50%; */


}



.blueheart, .greenheart{
  font-size:15px;
  margin-left:30%;
}
.blueheart{
  opacity:.7;
}
  
.greenheart{
  opacity:.25;
}
