
header{
    font-family: 'Archivo';
    /* font-weight:lighter; */
    /* background-color:rgb(175, 11, 11); */
    height:55px;
    color: white;
    font-size:1.7em;
    padding:0 2%;
    background-image:linear-gradient(to left,red,red, red);
}

nav{
    display:flex;
    justify-content: space-between;
    height:100%;
}

header nav a{
    text-decoration:none;
    color:white;
    transform:translateY(.45em);
}



.header_icons{
    font-size:1em;
    max-height:100%;
    /* padding-bottom:10%; */
    /* padding-bottom:50px; */
    box-sizing:border-box;
    transform: translateY(.5em)
}

.info{

    margin-left:.25em;
    
}