header {
	margin-top: 1%;
	border: 2px solid lightgreen;
	border-radius: 10px;
	background: white;
	padding: 0 2%;
	height: 8%;
	color: lightgreen;
	font-family: "Archivo";
	font-size: 1.7em;
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		// margin-top: 15%;
		a {
			flex: 3;
			text-decoration: none;
			color: green;
		}
		.header_icons {
			box-sizing: border-box;
			display: flex;
			flex: 1;
			align-items: flex-start;
			justify-content: flex-end;
			max-height: 100%;
			font-size: 1em;
			a {
				padding: 1%;
			}
			.info {
				margin-left: 0.25em;
				// padding: 2%;
			}
		}
	}
}
