footer {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgb(184, 225, 252), rgb(169, 222, 253), #3ebcfc);

    i {
        padding: 0 5%;
        font-size:180%;
        color:green;
    }
    a:nth-child(1){
        display:flex;
        align-items:center;
        min-width:15%;
        i{
            font-size:150%;
        }
    }
    a {
        text-decoration: none;
        h4 {
            font-family: "Archivo", sans-serif;
            color:green;
        }
    }
}
