.layout {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 92vh;
	.content, .map {
		padding: 2%;
		width: 95%;
		height: 100%;
	}
}
@media only screen and (min-width: 900px) {
	.layout {
		flex-direction: row;
		.content, .map {
			width: 46%;
		}
	}
}
@media only screen and (min-height: 1200px) {
	.layout {
		flex-direction: column;
	}
}
