

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width:50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    font-family: 'Archivo', sans-serif;
  }
  
  .modalMain {
    position:fixed; 
    background-image: linear-gradient( rgb(250, 248, 248), rgb(212, 212, 212));
    width: 60%;
    height: 70%;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
  }


  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }