.home {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 92vh;
	
	.map-wrapper,
    .list-wrapper {
		flex: 1;
		margin: 1%;
    }
    .map-wrapper{
        width: 46%;
        height: 50vh;position: relative;
        height: 90%;
        padding-right:4%;
        // padding:2%;
    }
}
@media only screen and (min-width: 800px) {
	.home {
		flex-direction: row;
	}
	.map-wrapper {
		width: 45%;
		height: 45%;
	}
}
@media only screen and (min-height: 1200px) {
	.home {
		flex-direction: column;
	}
	.map-wrapper {
		width: 96%;
		height: 45%;
	}
}
